@font-face {
  font-family: Estedad;
  src: url(./../assests/fonts/Estedad[wght\kshd].ttf);
}
@font-face {
  font-family: Estedad-FD;
  src: url(./../assests/fonts/Estedad-FD[wght\kshd].ttf);
}
body {
  font-family: Estedad;
}
#parentDiv {
  width: 100%;
  height: 520px;
  max-height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-image: url(./../assests/background.jpg);
}
#header {
  position: absolute;
  top: 31px;
  left: 13.5%;
  right: 13.5%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}
.offer {
  direction: rtl;
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
.offer p:first-of-type {
  margin-top: 0%;
  font-family: Estedad;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  text-align: right;
  color: #ffffff;
}
.offer p:last-of-type {
  font-family: Estedad;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #eeeeee;
  position: absolute;
  top: 20px;
}

.timer {
  position: relative;
  display: flex;
  height: 100px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.timer div:first-of-type {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.timer div:last-of-type {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  direction: ltr;
}

#hour {
  position: absolute;
  width: 31.69px;
  height: 31.69px;
  background: black;
  border-radius: 10px;
  font-family: Estedad;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
#min {
  position: absolute;
  width: 31.69px;
  height: 31.69px;
  background: black;
  border-radius: 10px;
  left: 36px;
  font-family: Estedad;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
#sec {
  position: absolute;
  width: 31.69px;
  height: 31.69px;
  background: #000000;
  border-radius: 10px;
  left: 72px;
  font-family: Estedad;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
#fDoubleDot {
  color: black;
  position: absolute;
  left: 32px;
}
#sDoubleDot {
  color: black;
  position: absolute;
  left: 68px;
}
#offerId {
  position: absolute;
  height: 37.4px;
  left: 120px;
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-left: 2px;
  padding-right: 2px;
}
#dayilyoff {
  font-family: Estedad;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #1769ff;
}
#offCode {
  font-family: Estedad;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 28px;
  text-align: center;

  color: #3e3e3e;
}

#more {
  position: absolute;
  right: 2px;
  top: 7px;
}

.content {
  position: absolute;
  bottom: 31px;
  left: 13.5%;
  right: 13.5%;
  top: 140px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}
.card {
  width: 200px;
  height: 357px;
  margin-top: 8px;
  background: #ffffff;
  border-radius: 20px;
}
.image {
  width: 100%;
  height: 60%;
  border-top: none;
  border-radius: 20px 20px 0 0;
}
.productInfo {
  width: 100%;
  height: 18%;
  margin-top: -14px;
  direction: rtl;
}
.productInfo p {
  margin-right: 5px;
}
.productInfo p:first-of-type {
  font-family: Estedad-FD;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: #3e3e3e;
}
.productInfo p:last-of-type {
  font-family: Estedad-FD;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: right;
  color: #7d7d7d;
}
.offPrice {
  width: 100%;
  height: 20%;
  border-radius: 0 0 20px 20px;
}
.offPrice div:first-of-type {
  width: 100%;
  position: relative;
  height: 50%;
}

.offPrice div:last-of-type {
  width: 100%;
  height: 50%;
  position: relative;
  border-radius: 0 0 20px 20px;
}
.image img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
}

#countOfOff {
  border-radius: 15px;
  height: 24px;
  width: 40px;
  display: flex;
  margin-left: 5px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: Estedad-FD;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: #e24c6c;
}
#oldPrice {
  font-family: Estedad-FD;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  position: absolute;
  left: 50px;
  bottom: 14px;
  /* top:-15px; */
  display: flex;
  align-items: center;
  text-decoration-line: line-through;

  color: #7d7d7d;
}
#toman {
  width: 17px;
  height: 24px;
  margin-left: 8px;
  margin-top: 5px;
}
#newPrice {
  font-family: Estedad-FD;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  align-items: center;
  position: absolute;
  left: 30px;
  top: 2px;
  color: #3e3e3e;
}
@media screen and (max-width: 600px) and (min-width: 564px) {
  #header {
    margin: 0%;
    flex-direction: column;
    justify-content: center;
  }
  #parendiv {
    background-repeat: repeat;
    height: fit-content;
  }
  .timer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}

@media screen and (max-width: 900px) {
  .timer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  #header {
    margin: 0%;
    flex-direction: column;
    justify-content: center;
  }
  .content {
    margin-top: 25px;
  }
  .timer div:first-of-type {
    position: absolute;
    left: 20%;
  }
  .timer div:last-of-type {
    right: 0%;
  }
}

@media screen and (max-width: 564px) {
  .offer p:first-of-type {
    font-family: Estedad;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 27px;
    text-align: right;
    color: #ffffff;
  }
  .offer p:last-of-type {
    font-family: Estedad;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #eeeeee;
  }
  #offerId {
    width: 160px;
    height: 31px;
    left: 110px;
  }
  .content {
    position: absolute;
    top: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
  }
  .timer div:last-of-type {
    font-family: Estedad;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    direction: ltr;

    color: #000000;
  }
}
@media screen and (max-width: 416px) {
  .timer {
    left: -10%;
  }
}
#offerId {
  width: 140px;
  height: 31px;
  left: 110px;
}
